<table border="0" style="width:100%">
 <tr>
    <td>
        <img src="https://static-frm.ie.edu/university/wp-content/uploads/sites/6/2022/06/IE-University-logo.png" width=150>
     </td>
    <td><div style="font-family:'Courier New'">
            <div style="font-size:25px">
                <div style="text-align: right"> 
                    <b> MASTER IN BIG DATA</b>
                    <br>
                    Python for Data Analysis II
                    <br><br>
                    <em> Daniel Sierra Ramos </em>
                </div>
            </div>
        </div>
    </td>
 </tr>
</table>

# **S07: EXERCISES**

## Exercise 01: Dealing with categories

Load the Adults dataset from `data/adult.csv.zip` and build a machine learning model to estimate the target `income`. This dataset contains not just numerical variables, but categorical ones, so don't forget to preprocess this variables as well before training the model. Choose the `LogisticRegression` model from `scikit-learn` for training.

*Note: This dataset is for classification, so feel free to experiment with any model you want from the classification `scikit-learn` catalog*

Here is the documentation of the dataset

```
age: continuous.
workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
fnlwgt: continuous.
education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
education-num: continuous.
marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
sex: Female, Male.
capital-gain: continuous.
capital-loss: continuous.
hours-per-week: continuous.
native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
class: >50K, <=50K
```

In [105]:
import pandas as pd

In [106]:
data = pd.read_csv("data/adult.csv.zip")
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [107]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

In [108]:
#split into train and test
X = data.drop(columns = "income")
y = data["income"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [109]:
ohe = OneHotEncoder(sparse=False)

In [110]:
#select categorical data
X_train_cat = X_train.select_dtypes("O")
X_train_cat_ohe = ohe.fit_transform(X_train_cat)
X_train_cat_ohe

c:\Users\santi\code\uni_env\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

array([[0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 1., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.]])

In [111]:
ohe.categories_[1]

array(['10th', '11th', '12th', '1st-4th', '5th-6th', '7th-8th', '9th',
       'Assoc-acdm', 'Assoc-voc', 'Bachelors', 'Doctorate', 'HS-grad',
       'Masters', 'Preschool', 'Prof-school', 'Some-college'],
      dtype=object)

In [112]:
X_train_cat_ohe = pd.DataFrame(X_train_cat_ohe, columns=ohe.get_feature_names_out())

In [113]:
X_train_full = pd.concat([X_train.reset_index(), X_train_cat_ohe], axis=1)

In [114]:
X_train_full = X_train_full.drop(columns=X_train_cat.columns)

In [115]:
X_train_full

,index,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week,workclass_?,workclass_Federal-gov,workclass_Local-gov,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,5551,47,154117,9,0,0,40,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,36721,63,440607,1,0,0,30,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2638,25,197822,13,0,0,40,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,36214,21,211601,10,0,0,40,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,27010,42,121998,10,15024,0,40,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32719,11284,36,635913,9,0,0,40,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32720,44732,34,107624,10,0,0,50,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32721,38158,28,250135,10,0,0,40,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32722,860,46,96652,11,0,0,40,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32723,15795,59,176118,14,0,0,7,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [116]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

In [117]:
lr.fit(X_train_full, y_train)

LogisticRegression()

In [118]:
X_test_cat = X_test.select_dtypes("O")
X_test_ohe = ohe.transform(X_test_cat)
X_test_ohe = pd.DataFrame(X_test_ohe, columns=ohe.get_feature_names_out())

In [119]:
X_test_full = pd.concat([X_test.reset_index(), X_test_ohe], axis=1)
X_test_full = X_test_full.drop(columns=X_test_cat.columns)

In [120]:
lr.predict(X_test_full)

array(['<=50K', '<=50K', '>50K', ..., '<=50K', '<=50K', '<=50K'],
      dtype=object)

In [121]:
lr.score(X_test_full, y_test)

0.8045663233651817

## Exercise 02: Dealing with text

Load the **20 newsgroups** dataset from `scikit-learn` with the code below.
1. Build a classification model (`LogisticRegression`) on the training set
2. Load the "test" set a use your model to `predict` the nex texts' category
3. Calculate the `accuracy` of the model on the test set

*Note: this is a text dataset, so use your tools available to first process the text in order to train a model*

In [122]:
from sklearn.datasets import fetch_20newsgroups

In [123]:
# first load the dataset from sklearn package
data = fetch_20newsgroups(subset="train", remove=("headers", "footers", "quotes"))
text = data["data"]
target = data["target"]
target_names = dict(enumerate(data["target_names"]))

In [125]:
# prepare data in a DataFrame

data = pd.DataFrame({
    "text": text,
    "target": target
})

data.target = data.target.replace(target_names)

In [126]:
data.head()

                                                text                 target
0  i was wondering if anyone out there could enli...              rec.autos
1  a fair number of brave souls who upgraded thei...  comp.sys.mac.hardware
2  well folks, my mac plus finally gave up the gh...  comp.sys.mac.hardware
3  \ndo you have weitek's address/phone number?  ...          comp.graphics
4  from article <c5owcb.n3p@world.std.com>, by to...              sci.space

In [7]:
# to print the text of one particular sample

print(data.iloc[1].text)

A fair number of brave souls who upgraded their SI clock oscillator have
shared their experiences for this poll. Please send a brief message detailing
your experiences with the procedure. Top speed attained, CPU rated speed,
add on cards and adapters, heat sinks, hour of usage per day, floppy disk
functionality with 800 and 1.4 m floppies are especially requested.

I will be summarizing in the next two days, so please add to the network
knowledge base if you have done the clock upgrade and haven't answered this
poll. Thanks.

In [127]:
X_train, X_test, y_train, y_test = train_test_split(data["text"], data["target"], test_size=0.33, random_state=42)

In [140]:
from sklearn.feature_extraction.text import TfidfVectorizer
vec = TfidfVectorizer(
    stop_words="english",
    lowercase=True,
    ngram_range=(1,2),
    min_df=5
    )
X_train_vec = vec.fit_transform(X_train)

In [141]:
X_train_vec.shape

(7580, 20228)

In [142]:
lr = LogisticRegression()
lr.fit(X_train_vec, y_train)

LogisticRegression()

In [143]:
X_test_vec = vec.transform(X_test)

In [144]:
lr.predict(X_test_vec)

array(['comp.sys.ibm.pc.hardware', 'sci.space',
       'comp.sys.ibm.pc.hardware', ..., 'alt.atheism',
       'talk.politics.mideast', 'rec.sport.baseball'], dtype=object)

In [145]:
lr.score(X_test_vec, y_test)

0.7292447777182646

ℹ️ **Brief note about NLP processing**: When we work with text, is essential transforming the text into numbers in order to fit a model, but before that there other operation we must apply to ensure we're doing a correct model:
 - **Transform the text to lower case** - This is essential to let the model make no distinction between "Evil" and "evil".
 - **Tokenize the text** - In order to deal with separate words, we need to tokenize the text. Usually using `\s+`
 - **Remove stopwords and punctuation signs** - If we want to effectively codify the useful information of a text, we probably want to get rid of words like `is`, `the`, etc. That is, pronouns, articles, adverbs... and keep just the verbs (actions) and nouns (subjects).
 - **Build n-grams** - Usually we can find groups of words that always are together. For example: "carrot cake". If we treat the words separately, maybe we're losing information in the context of the text.
 - **Word stemming and lemmatization**. (Refer to https://nlp.stanford.edu/IR-book/html/htmledition/stemming-and-lemmatization-1.html for more info)
    - **Stemming** (simpler): Usually refers to a crude heuristic process that chops off the ends of words in the hope of achieving this goal correctly most of the time, and often includes the removal of derivational affixes. *Example: cars -> car*
    - **Lemmatization** (more advanced): Usually refers to doing things properly with the use of a vocabulary and morphological analysis of words, normally aiming to remove inflectional endings only and to return the base or dictionary form of a word, which is known as the lemma. *Example: are -> be, doing -> do*
 - **POS (Part of Speech) tagging** - Consist on identifying the role of every word in the context of the text, that is, VERB, NOUN, ADVERB, etc. Very advanced.

## Exercise 03 (Optional): Using Feature engineering

Given the following time series dataset, create a function that receives the data and the following arguments:
* `lag_sizes`: a list of integers with the lag sizes to use
* `window_sizes`: a list of integers with the window sizes to use
* `window_function`: a function to apply to the window. This function should receive a list of values and return a single value

and returns a new dataset with the columns of the original dataset plus the new columns created with the lag and window functions.

In [9]:
import numpy as np

ts_df = pd.DataFrame(
    {
        "ts1": np.random.randn(1000),
        "ts2": np.random.randn(1000),
        "ts3": np.random.randn(1000),
    }, 
    index=pd.date_range("2020-01-01", periods=1000)
)

ts_df.head()

                 ts1       ts2       ts3
2020-01-01 -2.047614  1.016035 -0.321277
2020-01-02  0.918094  0.436412  0.644260
2020-01-03  0.637207 -0.516544 -0.151026
2020-01-04  1.412176 -0.743362  0.858968
2020-01-05 -0.760851 -1.053041 -0.307816