In [1]:
import urllib.request, json 
import pandas as pd
import numpy as np
import math

In [2]:
data = pd.read_csv("clean_csv/akoya.csv")

managers = ["Ali","Ruslan","Sami","Yahya","Youssef","Santi","Shrey","Dani"]

current_gw = 36 #current gameweek

In [3]:
data.head()

,player_id,player_name,position,team,gameweek,manager_id,squad_position,bench,points,minutes,...,red_cards,saves,bonus,bps,influence,creativity,threat,ict_index,total_points,in_dreamteam
0,1.0,Cédric,DEF,FUL,5.0,transfer market,NaN,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
1,2.0,Leno,GK,FUL,5.0,transfer market,NaN,NaN,2.0,90.0,...,0.0,2.0,0.0,13.0,19.0,10.0,0.0,2.9,2.0,False
2,105.0,Duffy,DEF,FUL,5.0,transfer market,NaN,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
3,200.0,Cairney,MID,FUL,5.0,transfer market,NaN,NaN,1.0,12.0,...,0.0,0.0,0.0,4.0,0.0,1.7,4.0,0.6,1.0,False
4,201.0,Ream,DEF,FUL,5.0,transfer market,NaN,NaN,2.0,90.0,...,0.0,0.0,0.0,17.0,16.2,0.7,0.0,1.7,2.0,False

# Points

In [4]:
gameweek_points = data[(data["manager_id"]!="transfer market")&(data["bench"]=="fielded")]

grouped = gameweek_points.groupby(["manager_id","gameweek"])["points"].sum()
gameweek_df = grouped.reset_index()
gameweek_df

    manager_id  gameweek  points
0          Ali       5.0    51.0
1          Ali       6.0    43.0
2          Ali       7.0     0.0
3          Ali       8.0    54.0
4          Ali       9.0    53.0
..         ...       ...     ...
251    Youssef      32.0    27.0
252    Youssef      33.0    16.0
253    Youssef      34.0    57.0
254    Youssef      35.0    36.0
255    Youssef      36.0    40.0

[256 rows x 3 columns]

In [5]:
def get_ranking(df,bench,goal):
    filtered = df[(df["manager_id"]!="transfer market")&(df["bench"]==bench)&(df["gameweek"]!=7)]
    ranked_df = filtered.groupby(df["manager_id"])
    return ranked_df[goal].sum().sort_values(ascending=False)

In [6]:
get_ranking(data,"fielded","points")

manager_id
Ali        1477.0
Sami       1409.0
Ruslan     1370.0
Yahya      1340.0
Youssef    1304.0
Santi      1221.0
Shrey      1194.0
Dani       1126.0
Name: points, dtype: float64

In [96]:
real_ranking = get_ranking(data,"fielded","points").to_frame()
real_ranking = real_ranking.reset_index().rename(columns={'manager_id': 'manager'})
real_ranking.to_csv(f'findings/points/real_ranking.csv', index=False)

In [97]:
real_ranking.columns

Index(['manager', 'points'], dtype='object')

### League by positions

Make 4 tables, ranking everyone depending on each position (gk, def, mid, fwd)

In [7]:
#GK Table
gk = data[data["position"]=="GK"]
get_ranking(gk,"fielded","points")

manager_id
Shrey      152.0
Ruslan     135.0
Dani       127.0
Sami       126.0
Santi      126.0
Ali        124.0
Youssef    122.0
Yahya      106.0
Name: points, dtype: float64

In [8]:
#DEF Table
deef = data[data["position"]=="DEF"]
get_ranking(deef,"fielded","points")

manager_id
Sami       525.0
Ruslan     434.0
Youssef    404.0
Dani       387.0
Ali        380.0
Yahya      346.0
Santi      305.0
Shrey      303.0
Name: points, dtype: float64

In [9]:
#MID Table
mid = data[data["position"]=="MID"]
get_ranking(mid,"fielded","points")

manager_id
Youssef    611.0
Yahya      580.0
Shrey      570.0
Ali        569.0
Ruslan     527.0
Sami       495.0
Santi      469.0
Dani       412.0
Name: points, dtype: float64

In [10]:
#FWD Table
fwd = data[data["position"]=="FWD"]
get_ranking(fwd,"fielded","points")

manager_id
Ali        404.0
Santi      321.0
Yahya      308.0
Ruslan     274.0
Sami       263.0
Dani       200.0
Shrey      169.0
Youssef    167.0
Name: points, dtype: float64

In [81]:
gks_df = get_ranking(gk,"fielded","points").to_frame()
def_df = get_ranking(deef,"fielded","points").to_frame()
mid_df = get_ranking(mid,"fielded","points").to_frame()
fwd_df = get_ranking(fwd,"fielded","points").to_frame()

gks_df = gks_df.reset_index().rename(columns={'manager_id': 'manager'})
def_df = def_df.reset_index().rename(columns={'manager_id': 'manager'})
mid_df = mid_df.reset_index().rename(columns={'manager_id': 'manager'})
fwd_df = fwd_df.reset_index().rename(columns={'manager_id': 'manager'})

gks_df.to_csv(f'findings/points/gk_ranking.csv', index=False)
def_df.to_csv(f'findings/points/def_ranking.csv', index=False)
mid_df.to_csv(f'findings/points/mid_ranking.csv', index=False)
fwd_df.to_csv(f'findings/points/fwd_ranking.csv', index=False)

### Best gw by position

In [11]:
def get_ranking_gw(df):
    filtered = df[(df["manager_id"]!="transfer market")&(df["bench"]=="fielded")&(df["gameweek"]!=7)]
    ranked_df = filtered.groupby(["manager_id","gameweek"])
    return ranked_df["points"].sum().sort_values(ascending=False)

In [12]:
#GK GW Table
get_ranking_gw(gk)

manager_id  gameweek
Sami        34.0        15.0
Shrey       12.0        15.0
Ali         29.0        14.0
Sami        11.0        14.0
Shrey       11.0        14.0
                        ...
Dani        30.0         0.0
Youssef     8.0          0.0
            26.0        -1.0
Sami        35.0        -2.0
Ali         24.0        -3.0
Name: points, Length: 248, dtype: float64

In [13]:
#DEF GW Table
get_ranking_gw(deef)

manager_id  gameweek
Sami        36.0        48.0
Ruslan      25.0        47.0
            27.0        41.0
Youssef     25.0        36.0
Sami        29.0        35.0
                        ...
Shrey       12.0         2.0
Santi       9.0          1.0
Shrey       28.0         1.0
            32.0         0.0
Santi       8.0         -3.0
Name: points, Length: 248, dtype: float64

In [14]:
#MID GW Table
get_ranking_gw(mid)

manager_id  gameweek
Ali         29.0        44.0
Shrey       20.0        42.0
            9.0         41.0
Youssef     23.0        40.0
            14.0        40.0
                        ...
            33.0         4.0
Dani        32.0         4.0
Ali         32.0         3.0
Dani        25.0         2.0
Ali         28.0         2.0
Name: points, Length: 248, dtype: float64

In [15]:
#FWD GW Table
get_ranking_gw(fwd)

manager_id  gameweek
Santi       36.0        30.0
            34.0        28.0
Ali         9.0         25.0
            5.0         24.0
            8.0         24.0
                        ...
Youssef     13.0         1.0
Sami        6.0          1.0
Dani        25.0         0.0
Ruslan      19.0         0.0
Santi       8.0          0.0
Name: points, Length: 248, dtype: float64

### Bench FC

In [16]:
get_ranking(data,"bench","points")

manager_id
Ruslan     245.0
Sami       245.0
Santi      232.0
Ali        218.0
Dani       207.0
Shrey      157.0
Youssef    157.0
Yahya      145.0
Name: points, dtype: float64

### Optimised Bench

In [17]:
def optimise(gw,manager):
    benched = data[(data["gameweek"] == gw)&(data["manager_id"] == manager)&(data["bench"] == "bench")]
    fielded = data[(data["gameweek"] == gw)&(data["manager_id"] == manager)&(data["bench"] == "fielded")]

    points = 0

    positions = [("DEF",3),("MID",2),("FWD",1)]

    b_gk = benched[benched["position"] == "GK"]
    f_gk = fielded[fielded["position"] == "GK"]

    if  f_gk.loc[f_gk.index.tolist()[0],"points"] < b_gk.loc[b_gk.index.tolist()[0],"points"]:
        points += b_gk["points"].item() - f_gk["points"].item()
        benched = benched.drop(index=b_gk.index)

    for indx, b_player in benched.iterrows():
        for pos in positions:
            for indx2, f_player in fielded.iterrows():
                if len(fielded[fielded["position"] == pos[0]]) > pos[1]:
                    if f_player["points"] < b_player["points"]:
                        points += b_player["points"] - f_player["points"]
                        benched = benched.drop(index=indx)
                        fielded = fielded.drop(index=indx2)
                        break  # exit the inner loop and go to the next b_player
            else:
                continue  # only executed if the inner loop didn't break
            break  # exit the outer loop and go to the next b_player

    return points

In [18]:
missed_points = pd.DataFrame(columns=["manager","gameweek","missed_pts"])

for manager in managers:
    for gw in range(5,current_gw):
        new_row = {"manager":manager,"gameweek":gw,"missed_pts":optimise(gw,manager)}
        missed_points = missed_points.append(new_row, ignore_index=True)

C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  missed_points = missed_points.append(new_row, ignore_index=True)
C:\Users\santi\AppData\Local\Temp\ipykernel_23432\1275510679.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

In [19]:
missed_points

    manager gameweek  missed_pts
0       Ali        5         1.0
1       Ali        6         5.0
2       Ali        7         0.0
3       Ali        8         2.0
4       Ali        9         0.0
..      ...      ...         ...
243    Dani       31         1.0
244    Dani       32         1.0
245    Dani       33         0.0
246    Dani       34         0.0
247    Dani       35         0.0

[248 rows x 3 columns]

In [20]:
missed_points_grouped = missed_points.groupby(missed_points["manager"])
missed_points_grouped["missed_pts"].sum().sort_values(ascending=False)

manager
Sami       155.0
Ruslan     134.0
Santi      132.0
Ali        130.0
Dani       110.0
Shrey      101.0
Youssef     96.0
Yahya       82.0
Name: missed_pts, dtype: float64

### GW Podiums

In [21]:
gw_podiums = pd.DataFrame(columns=["manager","gameweek","points"])

gw_podiums["manager"] = gameweek_df["manager_id"]
gw_podiums["gameweek"] = gameweek_df["gameweek"]
gw_podiums["points"] = gameweek_df["points"]
gw_podiums["rank"] = gw_podiums.groupby("gameweek")["points"].rank(ascending=False).apply(math.floor)
gw_podiums["podium"] = gw_podiums["rank"]<4


gw_podiums

     manager  gameweek  points  rank  podium
0        Ali       5.0    51.0     1    True
1        Ali       6.0    43.0     2    True
2        Ali       7.0     0.0     4   False
3        Ali       8.0    54.0     1    True
4        Ali       9.0    53.0     2    True
..       ...       ...     ...   ...     ...
251  Youssef      32.0    27.0     4   False
252  Youssef      33.0    16.0     8   False
253  Youssef      34.0    57.0     4   False
254  Youssef      35.0    36.0     4   False
255  Youssef      36.0    40.0     7   False

[256 rows x 5 columns]

In [22]:
gw_podiums[gw_podiums["manager"] == "Youssef"]

     manager  gameweek  points  rank  podium
224  Youssef       5.0    36.0     5   False
225  Youssef       6.0    33.0     6   False
226  Youssef       7.0     0.0     4   False
227  Youssef       8.0    27.0     6   False
228  Youssef       9.0    31.0     6   False
229  Youssef      10.0    48.0     3    True
230  Youssef      11.0    48.0     4   False
231  Youssef      12.0    40.0     3    True
232  Youssef      13.0    33.0     5   False
233  Youssef      14.0    61.0     2    True
234  Youssef      15.0    36.0     5   False
235  Youssef      16.0    42.0     3    True
236  Youssef      17.0    46.0     5   False
237  Youssef      18.0    41.0     3    True
238  Youssef      19.0    46.0     4   False
239  Youssef      20.0    59.0     2    True
240  Youssef      21.0    31.0     6   False
241  Youssef      22.0    27.0     7   False
242  Youssef      23.0    59.0     2    True
243  Youssef      24.0    28.0     7   False
244  Youssef      25.0    72.0     2    True
245  Youssef      26.0    46.0     2    True
246  Youssef      27.0    66.0     3    True
247  Youssef      28.0    12.0     8   False
248  Youssef      29.0    71.0     3    True
249  Youssef      30.0    53.0     2    True
250  Youssef      31.0    36.0     7   False
251  Youssef      32.0    27.0     4   False
252  Youssef      33.0    16.0     8   False
253  Youssef      34.0    57.0     4   False
254  Youssef      35.0    36.0     4   False
255  Youssef      36.0    40.0     7   False

In [23]:
total_podiums_df = pd.DataFrame(index=['1st', '2nd', '3rd'], columns=gw_podiums['manager'].unique())

grouped = gw_podiums.groupby(['manager', 'rank']).size()

# loop through each manager and count their 1st, 2nd, and 3rd place finishes
for manager in total_podiums_df.columns:
    try:
        total_podiums_df.loc['1st', manager] = grouped[manager, 1]
    except KeyError:
        total_podiums_df.loc['1st', manager] = 0
    try:
        total_podiums_df.loc['2nd', manager] = grouped[manager, 2]
    except KeyError:
        total_podiums_df.loc['2nd', manager] = 0
    try:
        total_podiums_df.loc['3rd', manager] = grouped[manager, 3]
    except KeyError:
        total_podiums_df.loc['3rd', manager] = 0

total_podiums_df.loc['Total'] = total_podiums_df.sum(axis=0)

total_podiums_df

      Ali Dani Ruslan Sami Santi Shrey Yahya Youssef
1st     8    2      7    7     2     2     3       0
2nd     5    2      2    2     4     4     7       6
3rd     5    3      5    4     5     2     3       6
Total  18    7     14   13    11     8    13      12

### Tottenham Award

Most GW without podium

In [24]:
def longest_streak(df,who):
    current_streak = 1
    max_streak = 1
    indx = 0
    
    df = df[df["manager"]==who]
    
    series = df["podium"]

    for i in range(1, len(series)):
        if series.iloc[i]:
            max_streak = max(max_streak, current_streak)
            current_streak = 1
        else:
            current_streak += 1
            if current_streak > max_streak:
                indx = i

    return max(max_streak, current_streak),df.iloc[indx]["manager"]

In [25]:
longest_nopodium_streak = (0,"")

for manager in managers:
    streak = longest_streak(gw_podiums, manager)
    if longest_nopodium_streak[0] < streak[0]:
        longest_nopodium_streak = streak

longest_nopodium_streak

(15, 'Dani')

### GW Losers

In [26]:
last_df = pd.DataFrame(index=["Last"], columns=gw_podiums['manager'].unique())

last_grouped = gw_podiums.groupby(['manager', 'rank']).size()

# loop through each manager and count their 1st, 2nd, and 3rd place finishes
for manager in last_df.columns:
    try:
        last_df.loc['Last', manager] = last_grouped[manager, 8]
    except KeyError:
        last_df.loc['1st', manager] = 0


last_df

     Ali Dani Ruslan Sami Santi Shrey Yahya Youssef
Last   2    7      5    2     3     6     3       2

# Players

### 1-team Players

In [27]:
def get_loyalty(data):
    grouped = data.groupby(['manager_id',"player_name","team"]).size().sort_values(axis=0,ascending=False)
    loyalty = grouped.to_frame().sort_values(by=[0, 'manager_id'], ascending=[False, True])
    return loyalty

In [28]:
#most owned players per club
no_tm = data[(data["manager_id"]!="transfer market")]
loyalty = get_loyalty(no_tm)
loyalty

                              0
manager_id player_name team
Ali        Haaland     MCI   32
           Rashford    MUN   32
Dani       Sánchez     BHA   32
           Raya        BRE   32
           Mitrović    FUL   32
...                          ..
Youssef    Toti        WOL    1
           Bowen       WHU    1
           Danilo      NFO    1
           Sinisterra  LEE    1
           Bamford     LEE    1

[437 rows x 1 columns]

In [29]:
loyalty.loc["Shrey"]

                     0
player_name   team
Alisson       LIV   32
Stones        MCI   32
Fernandes     MUN   32
Lloris        TOT   32
Maddison      LEI   30
Foden         MCI   27
Mahrez        MCI   27
Son           TOT   25
Vardy         LEI   20
Matip         LIV   17
Cresswell     WHU   17
Richarlison   TOT   17
Targett       NEW   15
Aubameyang    CHE   14
Solanke       BOU   12
Ream          FUL   11
Kilman        WOL   10
Martínez      MUN   10
Davies        TOT   10
Perraud       SOU   10
Iheanacho     LEI    8
Partey        ARS    7
Ings          WHU    7
Kelly         BOU    7
Saint-Maximin NEW    5
Joelinton     NEW    5
Dalot         MUN    5
Perišić       TOT    5
Antonio       WHU    4
Wan-Bissaka   MUN    4
Koulibaly     CHE    4
Martial       MUN    3
Isak          NEW    3
Edouard       CRY    3
Firmino       LIV    2
Burn          NEW    2
Wilson        NEW    2
Sancho        MUN    2
Weghorst      MUN    1
Alonso        CHE    1

In [30]:
#most fielded players per club
most_played = get_loyalty(gameweek_points)
most_played

                              0
manager_id player_name team
Yahya      Kane        TOT   32
Youssef    Martinelli  ARS   32
Shrey      Fernandes   MUN   31
           Alisson     LIV   31
Yahya      Ederson     MCI   31
...                          ..
Youssef    Danilo      NFO    1
           Antonio     WHU    1
           Bowen       WHU    1
           Ings        WHU    1
           Henderson   NFO    1

[401 rows x 1 columns]

### Globe Trotters

Players in the most teams

In [31]:
most_teams_grouped = loyalty.groupby(["player_name","team"]).size().sort_values(axis=0,ascending=False)
most_teams_df = most_teams_grouped.to_frame().sort_values(by=[0, 'player_name'], ascending=[False, True])
most_teams_df[most_teams_df.iloc[:,0]>3]

                  0
player_name team
Chilwell    CHE   5
Sancho      MUN   5
Edouard     CRY   4
Eriksen     MUN   4
Gündogan    MCI   4
Martial     MUN   4
Martínez    MUN   4
Walker      MCI   4

### Club Mascot

In [32]:
def get_clubmascot(data):
    mascot_grouped = data.groupby(['manager_id',"team"]).sum().sort_values(by=[0, 'manager_id'], ascending=[False, True])
    return mascot_grouped

In [33]:
#most owned club
club_mascot = get_clubmascot(most_played)
club_mascot["bench"] = get_clubmascot(loyalty)
club_mascot.rename(columns={0: 'fielded'}, inplace=True)
club_mascot["ratio"] = round(club_mascot["fielded"]/club_mascot["bench"],2)
club_mascot

                 fielded  bench  ratio
manager_id team
Ruslan     ARS       190    231   0.82
Ali        MCI        93    116   0.80
Dani       BRE        87    101   0.86
Sami       LIV        67     80   0.84
Youssef    MCI        65     85   0.76
...                  ...    ...    ...
Dani       LEE         1      3   0.33
           WHU         1      2   0.50
Ruslan     EVE         1      1   1.00
           LEI         1      3   0.33
Sami       NFO         1      1   1.00

[131 rows x 3 columns]

In [34]:
club_mascot.loc["Santi"]

      fielded  bench  ratio
team
MUN        45     67   0.67
LIV        43     53   0.81
CHE        36     57   0.63
AVL        35     38   0.92
NEW        29     43   0.67
TOT        23     26   0.88
BHA        22     32   0.69
MCI        22     31   0.71
LEE        18     19   0.95
FUL        13     18   0.72
BRE        12     16   0.75
WHU        12     17   0.71
EVE         9     19   0.47
LEI         8      9   0.89
BOU         7      8   0.88
NFO         7      8   0.88
WOL         5     11   0.45
CRY         4      6   0.67
ARS         2      2   1.00

# Stats

### Most Goals

In [35]:
get_ranking(data,"fielded","goals_scored")

manager_id
Ali        76.0
Yahya      65.0
Ruslan     62.0
Santi      60.0
Sami       52.0
Youssef    48.0
Shrey      42.0
Dani       35.0
Name: goals_scored, dtype: float64

In [36]:
get_ranking(data,"bench","goals_scored")

manager_id
Ruslan     7.0
Ali        6.0
Dani       6.0
Santi      6.0
Shrey      5.0
Youssef    5.0
Sami       2.0
Yahya      2.0
Name: goals_scored, dtype: float64

### Most Assists

In [37]:
get_ranking(data,"fielded","assists")

manager_id
Sami       51.0
Ali        49.0
Shrey      48.0
Yahya      46.0
Youssef    45.0
Ruslan     44.0
Dani       41.0
Santi      26.0
Name: assists, dtype: float64

In [38]:
get_ranking(data,"bench","assists")

manager_id
Sami       6.0
Ruslan     4.0
Youssef    4.0
Ali        3.0
Dani       3.0
Shrey      3.0
Santi      2.0
Yahya      0.0
Name: assists, dtype: float64

### Most Clean Sheets

In [39]:
gk_def = data[(data["position"]=="GK")|(data["position"]=="DEF")]

get_ranking(gk_def,"fielded","clean_sheets")

manager_id
Sami       55.0
Ruslan     51.0
Youssef    50.0
Ali        49.0
Dani       43.0
Yahya      43.0
Santi      39.0
Shrey      36.0
Name: clean_sheets, dtype: float64

In [40]:
get_ranking(gk_def,"bench","clean_sheets")

manager_id
Ruslan     14.0
Sami       13.0
Santi      13.0
Ali        11.0
Dani       10.0
Yahya       9.0
Youssef     9.0
Shrey       8.0
Name: clean_sheets, dtype: float64

### Avg Minutes Played

In [41]:
round(get_ranking(data,"fielded","minutes")/11/31)

manager_id
Ali        84.0
Sami       83.0
Ruslan     82.0
Youssef    81.0
Yahya      80.0
Santi      79.0
Dani       78.0
Shrey      73.0
Name: minutes, dtype: float64

### Maguire Award
Most Goals Conceded

In [42]:
get_ranking(gk_def,"fielded","goals_conceded")

manager_id
Ruslan     188.0
Youssef    185.0
Sami       179.0
Dani       174.0
Ali        172.0
Santi      160.0
Shrey      154.0
Yahya      139.0
Name: goals_conceded, dtype: float64

### 2016 Pessi Award
Most Missed Pens

In [43]:
get_ranking(data,"fielded","penalties_missed")

manager_id
Dani       4.0
Sami       2.0
Santi      2.0
Yahya      2.0
Ruslan     1.0
Shrey      1.0
Youssef    1.0
Ali        0.0
Name: penalties_missed, dtype: float64

### Not De Gea Award
Most Pens Saved

In [44]:
get_ranking(data,"fielded","penalties_saved")

manager_id
Sami       2.0
Ali        1.0
Dani       1.0
Santi      1.0
Shrey      1.0
Ruslan     0.0
Yahya      0.0
Youssef    0.0
Name: penalties_saved, dtype: float64

### Prime Maguire Award
Most Own Goals

In [45]:
get_ranking(data,"fielded","own_goals")

manager_id
Santi      3.0
Dani       2.0
Ali        1.0
Sami       1.0
Shrey      1.0
Youssef    1.0
Ruslan     0.0
Yahya      0.0
Name: own_goals, dtype: float64

### Sergio Ramos Award
Most Red Cards

In [46]:
get_ranking(data,"fielded","red_cards")

manager_id
Ruslan     2.0
Santi      2.0
Sami       1.0
Ali        0.0
Dani       0.0
Shrey      0.0
Yahya      0.0
Youssef    0.0
Name: red_cards, dtype: float64

### Sergio Ramos Lite Award
Most Yellow Cards

In [47]:
get_ranking(data,"fielded","yellow_cards")

manager_id
Dani       50.0
Yahya      48.0
Ali        47.0
Sami       43.0
Santi      35.0
Ruslan     34.0
Shrey      33.0
Youssef    33.0
Name: yellow_cards, dtype: float64

### The Wall Award
Most Saves

In [48]:
get_ranking(data,"fielded","saves")

manager_id
Dani       118.0
Sami       111.0
Shrey      103.0
Ruslan      97.0
Santi       82.0
Youssef     80.0
Ali         76.0
Yahya       41.0
Name: saves, dtype: float64

### BPS Merchant

In [49]:
filtered_bps = data[(data["manager_id"]!="transfer market")&(data["bench"]=="bench")]
df = filtered_bps.groupby(data["manager_id"])
df["bonus"].sum().sort_values(ascending=False)

manager_id
Sami       31.0
Santi      29.0
Shrey      24.0
Dani       20.0
Ruslan     16.0
Yahya      16.0
Ali        15.0
Youssef    13.0
Name: bonus, dtype: float64

### TOTW Merchant

In [50]:
get_ranking(data,"fielded","in_dreamteam")

manager_id
Ali        34
Sami       30
Yahya      28
Ruslan     24
Youssef    18
Shrey      17
Santi      14
Dani       10
Name: in_dreamteam, dtype: object

# Transfers

In [51]:
transfers = pd.read_csv("clean_csv/transfers.csv")

In [52]:
transfers[:10]

,players_id_in,players_id_out,manager_id,gameweek,type,result,transfer_id,player_name_in,team_in,player_name_out,team_out
0,189,64,Ali,5,f,a,8830907,Gray,EVE,Lerma,BOU
1,346,465,Yahya,5,f,a,8833951,Andreas,FUL,Bowen,WHU
2,134,259,Ruslan,5,f,a,8834214,Kanté,CHE,Tielemans,LEI
3,358,43,Yahya,5,f,a,8838057,Burn,NEW,Cash,AVL
4,342,504,Sami,5,f,a,8857423,Dalot,MUN,Malacia,MUN
5,235,8,Ruslan,5,f,a,8881578,Struijk,LEE,Tierney,ARS
6,344,469,Ali,5,f,a,8918574,Elanga,MUN,Fornals,WHU
7,603,142,Yahya,6,w,di,8969639,Paquetá,WHU,Mount,CHE
8,526,139,Yahya,6,w,a,8969640,Mee,BRE,Chilwell,CHE
9,319,227,Youssef,6,w,a,9210908,Álvarez,MCI,Bamford,LEE

In [53]:
def get_ranking_transfer(df,types):
    if types == "all":
        filtered = df
    else:
        filtered = df[(df["type"]==types)]
    ranked_df = filtered.groupby(df["manager_id"])
    return ranked_df["transfer_id"].size().sort_values(ascending=False)

### Ranking by Total Transfers

In [54]:
accepted = transfers[transfers["result"]=="a"].reset_index()

In [55]:
get_ranking_transfer(accepted,"all")

manager_id
Ali        90
Santi      75
Sami       70
Ruslan     46
Youssef    34
Shrey      26
Yahya       8
Dani        4
Name: transfer_id, dtype: int64

In [56]:
get_ranking_transfer(accepted,"w")

manager_id
Ali        69
Santi      59
Sami       53
Ruslan     33
Youssef    33
Shrey      20
Dani        4
Yahya       4
Name: transfer_id, dtype: int64

In [57]:
get_ranking_transfer(accepted,"f")

manager_id
Ali        21
Sami       17
Santi      16
Ruslan     13
Shrey       6
Yahya       4
Youssef     1
Name: transfer_id, dtype: int64

### Trade Winner & Loser TBD

In [58]:
#get how long a transfer stays at the club, and how long until someone signs him up again
for indx, row in accepted.iterrows():
    player_in = row["players_id_in"]
    player_out = row["players_id_out"]

    for i in range(indx+1, len(accepted)):
        if player_out == accepted.loc[i, "players_id_in"]:
            accepted.loc[indx, "gw_until_in"] = accepted.loc[i, "gameweek"]-accepted.loc[indx, "gameweek"] #gameweeks until someone else signs this player
            accepted.loc[i, "past_manager"] = accepted.loc[indx, "manager_id"] #who owned him before
            accepted.loc[indx, "next_manager"] = accepted.loc[i, "manager_id"] #who will own him next
            break
    
    for i in range(indx+1, len(accepted)):
        if player_in == accepted.loc[i, "players_id_out"]:
            accepted.loc[indx, "gw_until_out"] = accepted.loc[i, "gameweek"]-accepted.loc[indx, "gameweek"] #gameweeks until this player leaves the team
            break

In [59]:
def get_points(player_id,gw):
    return data[(data["player_id"]==player_id)&(data["gameweek"]==gw)]["points"].iloc[0]

In [60]:
for indx, row in accepted.iterrows():
    gw = row["gameweek"]
    gws_out = row["gw_until_out"]
    player_in = row["players_id_in"]
    player_out = row["players_id_out"]

    points_in = 0
    points_out = 0

    
    if gws_out >= 3:
        for i in range(1,4):
            x = i - 1
            points_in_gw = get_points(player_in,gw + x)
            points_out_gw = get_points(player_out,gw + x)

            points_in += points_in_gw
            points_out += points_out_gw
    elif math.isnan(gws_out) == False:
        for i in range(1,int(gws_out+1)):
            x = i - 1
            points_in_gw = get_points(player_in,gw + x)
            points_out_gw = get_points(player_out,gw + x)

            points_in += points_in_gw
            points_out += points_out_gw

    accepted.loc[indx,"in_points"] = points_in
    accepted.loc[indx,"out_points"] = points_out
    accepted.loc[indx,"net_points"] = points_in - points_out

In [61]:
new_order = ['index', 'players_id_in', 'player_name_in', 'team_in', 'in_points', 'past_manager' , 'gw_until_out', 
            'manager_id', 'gameweek', 'type', 'result', 'transfer_id', 'players_id_out',
            'player_name_out', 'team_out', 'out_points', "next_manager", 'gw_until_in', 'net_points']
accepted = accepted.reindex(columns=new_order)
accepted

,index,players_id_in,player_name_in,team_in,in_points,past_manager,gw_until_out,manager_id,gameweek,type,result,transfer_id,players_id_out,player_name_out,team_out,out_points,next_manager,gw_until_in,net_points
0,0,189,Gray,EVE,2.0,NaN,1.0,Ali,5,f,a,8830907,64,Lerma,BOU,3.0,NaN,NaN,-1.0
1,1,346,Andreas,FUL,0.0,NaN,NaN,Yahya,5,f,a,8833951,465,Bowen,WHU,0.0,Santi,1.0,0.0
2,2,134,Kanté,CHE,0.0,NaN,1.0,Ruslan,5,f,a,8834214,259,Tielemans,LEI,2.0,Ali,4.0,-2.0
3,3,358,Burn,NEW,0.0,NaN,NaN,Yahya,5,f,a,8838057,43,Cash,AVL,0.0,Santi,22.0,0.0
4,4,342,Dalot,MUN,10.0,NaN,23.0,Sami,5,f,a,8857423,504,Malacia,MUN,7.0,Ali,2.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348,534,92,Pinnock,BRE,0.0,Santi,NaN,Youssef,37,w,a,52682178,489,Toti,WOL,0.0,NaN,NaN,0.0
349,535,88,Jensen,BRE,0.0,Sami,NaN,Youssef,37,w,a,52682179,703,Danilo,NFO,0.0,NaN,NaN,0.0
350,536,304,Sterling,CHE,0.0,Sami,NaN,Ruslan,37,w,a,52819096,373,Willock,NEW,0.0,NaN,NaN,0.0
351,537,534,McNeil,EVE,0.0,NaN,NaN,Santi,37,f,a,53216206,365,Murphy,NEW,0.0,NaN,NaN,0.0
352,538,156,Ward,CRY,0.0,NaN,NaN,Santi,37,f,a,53216849,109,Veltman,BHA,0.0,NaN,NaN,0.0

In [71]:
def get_transfer(data):
    filtering = data[["gameweek",'manager_id',"net_points","player_name_in","team_in","player_name_out","team_out","in_points","out_points","gw_until_out"]]
    return filtering.sort_values(by=["net_points", 'manager_id'], ascending=[False, True])

In [72]:
get_transfer(accepted)[:15]

,gameweek,manager_id,net_points,player_name_in,team_in,player_name_out,team_out,in_points,out_points,gw_until_out
134,19,Youssef,32.0,March,BHA,Luis Díaz,LIV,32.0,0.0,17.0
241,27,Ruslan,17.0,Chilwell,CHE,Walker,MCI,18.0,1.0,5.0
204,23,Santi,17.0,Emerson Royal,TOT,Walker,MCI,23.0,6.0,6.0
78,13,Ali,16.0,Ward,LEI,Neto,BOU,17.0,1.0,5.0
151,20,Ruslan,16.0,Ward-Prowse,SOU,Smith Rowe,ARS,17.0,1.0,2.0
251,28,Santi,16.0,Harrison,LEE,Wissa,BRE,21.0,5.0,7.0
81,13,Sami,15.0,Justin,LEI,Jonny,WOL,15.0,0.0,3.0
239,27,Sami,15.0,Jensen,BRE,Mudryk,CHE,22.0,7.0,6.0
285,31,Ruslan,14.0,Bowen,WHU,Mount,CHE,15.0,1.0,5.0
126,18,Sami,14.0,Leno,FUL,Pickford,EVE,19.0,5.0,15.0
55,11,Santi,14.0,Castagne,LEI,Dunk,BHA,24.0,10.0,9.0
173,22,Shrey,14.0,Davies,TOT,Matip,LIV,20.0,6.0,10.0
62,12,Ali,13.0,Edouard,CRY,Isak,NEW,13.0,0.0,7.0
242,27,Ruslan,13.0,Steele,BHA,Fabianski,WHU,21.0,8.0,5.0
72,13,Sami,13.0,Wilson,NEW,Watkins,AVL,25.0,12.0,16.0